[project]
	description = LeEco proprietary files for my custom LineageOS builds
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nawabmeravali (Nawabmeeravali)
[access "refs/for/refs/*"]
	read = group user/Nawabmeravali (Nawabmeeravali)
	push = group user/Nawabmeravali (Nawabmeeravali)
	label-Code-Review = -2..+2 group user/Nawabmeravali (Nawabmeeravali)
	label-Verified = -1..+1 group user/Nawabmeravali (Nawabmeeravali)
	rebase = group user/Nawabmeravali (Nawabmeeravali)
	removeReviewer = group user/Nawabmeravali (Nawabmeeravali)
	submit = group user/Nawabmeravali (Nawabmeeravali)
[access "refs/heads/*"]
	read = group user/Nawabmeravali (Nawabmeeravali)
	create = group user/Nawabmeravali (Nawabmeeravali)
	push = +force group user/Nawabmeravali (Nawabmeeravali)
	pushMerge = group user/Nawabmeravali (Nawabmeeravali)
[access "refs/tags/*"]
	push = group user/Nawabmeravali (Nawabmeeravali)
	push = +force group user/Nawabmeravali (Nawabmeeravali)
